////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LOGO ////////////////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the logo on the top left of the page
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SEARCH //////////////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the form element containing the searchbar and search button
.search {
  flex: 0 0 40%;

  display: flex; // This is now a nested flexbox element (the whole header is a flex container)
  /*   align-items: center; */
  justify-content: center;

  // ### ELEMENT: the searchbar input
  &__input {
    font-family: inherit; // Remember, inputs do not inherit the global font declarations
    font-size: inherit; // Remember, inputs do not inherit the global font declarations
    color: inherit; // Remember, inputs do not inherit the global font declarations
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    padding: 0.7rem 2rem;
    margin-right: -3.5rem; // So that the button will be on top of the searchbar

    // Default styles to be animated
    transition: all 0.2s;
    width: 90%; // Initial state -- only 90% because we want to animate it widening when focused

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // ### ELEMENT: the magnifying glass icon inside the searchbar input
  &__button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  // ### ELEMENT: the SVG icon (magnifying glass)
  &__icon {
    // To set the size of an svg icon, simply setting its height and width will suffice
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// USER NAVIGATION /////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the container for each of the user navigation buttons (bookmarks, chat, user)
.user-nav {
  align-self: stretch; // Overwrites the align-items declaration in .header

  display: flex; // Nested flex container
  align-items: center;

  // All children of user-nav (so both icon-box and the user-box)
  & > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;

    display: flex; // Nested x2 flex container
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  // ### ELEMENT: the box containing the SVG icons
  &__icon-box {
    position: relative;
  }

  // ### ELEMENT: the SVG icons (the bookmark and chat icons)
  &__icon {
    // To set the size of an SVG icon, simply setting its height and width will suffice
    height: 2.25rem;
    width: 2.25rem;
    fill: var(
      --color-grey-dark-2
    ); // Fill is basically color for text, but for SVGs
  }

  // ### ELEMENT: the red bubble notifications
  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%; // Make the notification bubble an actual bubble (circle)
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);

    position: absolute; // Position it on the top right of the icons
    top: 1.5rem;
    right: 1.15rem;

    display: flex; // Making the span containing the text a flex item to be centered
    align-items: center; // Center the notification numbers vertically (across cross axis)
    justify-content: center; // Center the notification numbers horizontally (across main axis)
  }

  // ### ELEMENT: the user information box (the profile photo and name)
  &__user-box {
    background-color: transparent;
  }

  // ### ELEMENT: the circle profile image
  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SIDE NAVIGATION /////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the container for the sidebar links list as well as the legal text
.side-nav {
  font-size: 1.4rem;
  list-style: none; // Remove the bullet points that come with links
  margin-top: 3.5rem;

  // ### The container for the link and icon
  &__item {
    position: relative; // For the absolute positioning of the ::before red hover animation

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%; // So it is the same height as the list item
      background-color: var(--color-primary);

      // Initial animation state
      transition: transform 0.2s, width 0.45s cubic-bezier(1, -0.02, 0, 1);
      width: 3px;
      transform: scaleY(0);
    }

    &:hover::before {
      // Ending animation state
      transform: scaleY(1);
      width: 100%;
    }
  }

  // ### The actual link to click on, but also contains the SVG icon and the span that holds the text
  // Always target multiple pseudoclasses unless you want custom styles for different states of a link
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none; // Remove the underline of default links
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center; // To align the icon and the span for each link

    position: relative;
    z-index: 100;
  }

  // ### The SVG icon
  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // Takes on the color of the parent element (kind of like inheriting values, but on a different property)
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// COPYRIGHT TEXT //////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the legal text at the bottom of the sidebar, is a flex child alongside .side-nav
.legal-text {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// GALLERY /////////////////////////////////////////////////////////////////////////////////////////////////
.gallery {
  display: flex;
  &__photo {
    width: 100%;
    display: block; // Images should always be a block so it does not have small whitespace under it
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HOTEL OVERVIEW //////////////////////////////////////////////////////////////////////////////////////////
.overview {
  border-bottom: var(--line);

  display: flex;
  align-items: center;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto; // This is a good flexbox trick to essentially push an item all the way to another side
    // This is more to fix the styling of the SVG star icons, rather than actually needing them to be flex items
    display: flex; // The icons in the overview__stars are now flex items and will lose the inline styles that come wiht SVGs (such as line height similar to text and other inline elements)
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
    &--grey {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-grey-dark-2);
    }
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem; // To push the location pin icon slightly away from the inline location button
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;

    align-self: stretch; // To stretch the red box with the average rating and vote count
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300; // Skinny font weight
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: -5px; // Just to move the average score and total votes elements closer slightly
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BUTTON INLINE ///////////////////////////////////////////////////////////////////////////////////////////
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit; // Since it is an inline button, inheriting the font-size makes sense, as you'd want it to be the same as the text in line. Also makes it more modular and reusable
  border-bottom: 1px solid currentColor; // This will simply take the same color as the text (so the value in color: above) and will do the same if the color changes in different states
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent; // This is because we want to use this inline, so it shouldnt have a fixed color, so it can be used anywhere (modular & reusable)
  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    color: var(
      --color-grey-dark-1
    ); // The border will change color as well since we used currentColor
  }

  &:focus {
    outline: none; // Get rid of the outline when focused (which is a browser default)
  }

  &:active {
    transform: scale(0.97); // Shrink a tiny amount when clicked
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PARGRAPH ////////////////////////////////////////////////////////////////////////////////////////////////

// last-of-type targets the last child of the same type (in this case <p/> elements)
// last-child would not have worked because there are more children after the paragraph classes
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LIST ////////////////////////////////////////////////////////////////////////////////////////////////////

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;

  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap; // Allows elements to wrap, but it will be inconsistant without width or basis

  &__item {
    flex: 0 0 50%; // So that each item takes 50% of the width, effectively making it 2 colums of items, since only 2 will be able to fit per row
    margin-bottom: 1rem;

    &::before {
      content: '';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;

      // Older browsers
      //background-image: url('../images/chevron-thin-right.svg');
      //background-size: cover;

      // Newer browsers - masks
      // Mask: defines an area where we can look through an element and see whats behind it
      background-color: var(--color-primary);
      mask-image: url('../images/chevron-thin-right.svg');
      mask-size: cover;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// RECOMMEND ///////////////////////////////////////////////////////////////////////////////////////////////

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto; // Very useful tool to position elements in a flexbox
  }

  &__friends {
    background-color: transparent;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.3rem solid #fff;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// REVIEW //////////////////////////////////////////////////////////////////////////////////////////////////
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;

  display: flex;
  flex-direction: column;

  &__text {
    margin-bottom: 2rem;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }
  &__user-box {
    margin: 0 auto 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__user-name {
    font-weight: 400;
    text-transform: uppercase;
  }
  &__user-date {
    font-size: 0.9rem;
    color: var(--color-grey-dark-3);
  }
  &__rating {
    font-size: 2rem;
    color: var(--color-primary);
  }
}
