//////////////////////////////////////////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

//////////////////////////////////////////////////////
// SEARCH
.search {
  flex: 0 0 40%;

  &__input {
    font-family: inherit; // Remember, inputs do not inherit the global font declarations
    font-size: inherit; // Remember, inputs do not inherit the global font declarations
    color: inherit; // Remember, inputs do not inherit the global font declarations
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    padding: 0.7rem 2rem;

    transition: all 0.2s;
    width: 90%; // Initial state -- only 90% because we want to animate it widening when focused
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
  }

  &__button {
    background-color: transparent;
  }

  &__icon {
    // To set the size of an svg icon, simply setting its height and width will suffice
    height: 2rem;
    width: 2rem;
  }

  //testing
  background-color: orangered;
}

//////////////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
  &__icon-box {
    background-color: transparent;
  }

  &__icon {
    // To set the size of an svg icon, simply setting its height and width will suffice
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
    background-color: transparent;
  }

  &__user {
    background-color: transparent;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
    background-color: transparent;
  }

  //testing
  background-color: greenyellow;
}
