//////////////////////////////////////////////////////
// LOGO
.logo {
  height: 3.25rem;
}

//////////////////////////////////////////////////////
// SEARCH
.search {
  //testing
  background-color: orangered;

  &__input {
    background-color: transparent;
  }

  &__button {
    background-color: transparent;
  }

  &__icon {
    // To set the size of an svg icon, simply setting its height and width will suffice
    height: 2rem;
    width: 2rem;
  }
}

//////////////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
  background-color: greenyellow;
  &__icon-box {
    background-color: transparent;
  }

  &__icon {
    // To set the size of an svg icon, simply setting its height and width will suffice
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
    background-color: transparent;
  }

  &__user {
    background-color: transparent;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
    background-color: transparent;
  }
}
