////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LOGO ////////////////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the logo on the top left of the page
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SEARCH //////////////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the form element containing the searchbar and search button
.search {
  flex: 0 0 40%;

  display: flex; // This is now a nested flexbox element (the whole header is a flex container)
  /*   align-items: center; */
  justify-content: center;

  // ### ELEMENT: the searchbar input
  &__input {
    font-family: inherit; // Remember, inputs do not inherit the global font declarations
    font-size: inherit; // Remember, inputs do not inherit the global font declarations
    color: inherit; // Remember, inputs do not inherit the global font declarations
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    padding: 0.7rem 2rem;
    margin-right: -3.5rem; // So that the button will be on top of the searchbar

    // Default styles to be animated
    transition: all 0.2s;
    width: 90%; // Initial state -- only 90% because we want to animate it widening when focused

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // ### ELEMENT: the magnifying glass icon inside the searchbar input
  &__button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  // ### ELEMENT: the SVG icon (magnifying glass)
  &__icon {
    // To set the size of an svg icon, simply setting its height and width will suffice
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// USER NAVIGATION /////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the container for each of the user navigation buttons (bookmarks, chat, user)
.user-nav {
  align-self: stretch; // Overwrites the align-items declaration in .header

  display: flex; // Nested flex container
  align-items: center;

  // All children of user-nav (so both icon-box and the user-box)
  & > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;

    display: flex; // Nested x2 flex container
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  // ### ELEMENT: the box containing the SVG icons
  &__icon-box {
    position: relative;
  }

  // ### ELEMENT: the SVG icons (the bookmark and chat icons)
  &__icon {
    // To set the size of an SVG icon, simply setting its height and width will suffice
    height: 2.25rem;
    width: 2.25rem;
    fill: var(
      --color-grey-dark-2
    ); // Fill is basically color for text, but for SVGs
  }

  // ### ELEMENT: the red bubble notifications
  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%; // Make the notification bubble an actual bubble (circle)
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);

    position: absolute; // Position it on the top right of the icons
    top: 1.5rem;
    right: 1.15rem;

    display: flex; // Making the span containing the text a flex item to be centered
    align-items: center; // Center the notification numbers vertically (across cross axis)
    justify-content: center; // Center the notification numbers horizontally (across main axis)
  }

  // ### ELEMENT: the user information box (the profile photo and name)
  &__user-box {
    background-color: transparent;
  }

  // ### ELEMENT: the circle profile image
  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SIDE NAVIGATION /////////////////////////////////////////////////////////////////////////////////////////
// ### BLOCK: the container for the sidebar links list as well as the legal text
.side-nav {
  font-size: 1.4rem;
  list-style: none; // Remove the bullet points that come with links
  margin-top: 3.5rem;

  // ### The container for the link and icon
  &__item {
    background-color: transparent;
  }

  // ### The actual link to click on, but also contains the SVG icon and the span that holds the text
  &__link {
    color: var(--color-grey-light-1);
    text-decoration: none; // Remove the underline of default links
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
  }

  // ### The SVG icon
  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // Takes on the color of the parent element (kind of like inheriting values, but on a different property)
  }
}

.legal-text {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}
