////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FLIGHT OVERVIEW //////////////////////////////////////////////////////////////////////////////////////////////////
.flight {
  font-size: 10rem;
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: var(--color-primary-dark);
  /*   background-color: var(--color-grey-light-2); */
  padding: 2.5rem 0 3rem 0;
  border-bottom: var(--line);

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  // Container for the Code and City
  &__airport {
    cursor: pointer;
    flex: 0 0 20%; // So it is truly centered since the space evenly will match since all basis are the same

    transition: color 0.12s;

    &:hover {
      color: var(--color-grey-dark-3);
    }

    &:hover > .flight__location {
      opacity: 0.3;
    }

    &:active > .flight__location {
      opacity: 0;
    }
  }

  // City
  &__location {
    font-size: 1.8rem;

    transition: opacity 0.15s;
  }

  // Arrow
  & span {
    color: var(--color-primary-dark);
    margin-top: -2rem; // Centers the arrow a little better
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// TRIP TYPE BUTTON ////////////////////////////////////////////////////////////////////////////////////////
.switch-input {
  display: flex;
  justify-content: center;

  // All buttons
  &__button {
    border: none;
    text-align: center;

    border-radius: 100px;

    margin: 0 1rem;
    padding: 1.8rem 6rem;
    flex: 0 0 22.5%;

    position: relative;
    z-index: 1; // Enough to be above the background

    outline: none;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      border-radius: 100px;
      height: 100%;
      width: 100%;
    }

    &::before {
      z-index: -1; // Must be negative (research this later)
    }

    &::after {
      background-color: var(--color-grey-light-1);
      z-index: -100;
    }
  }

  &__radio {
    display: none;
  }

  // When the radio is checked, target the associated button
  &__radio:checked + &__button {
    color: var(--color-grey-light-1);
  }
  // When the radio is checked, target the ::before of the button
  &__radio:checked + &__button::before {
    background-color: var(--color-primary);
    transform: translateX(0);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FLIGHT FORM ////////////////////////////////////////////////////////////////////////////////////////
.flight-form {
  display: flex;
  &__date {
  }
}
