.container {
  max-width: 120rem; // The main container will only ever be 120rem, but can shrink if there isn't space (to 100% of the available space)
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  //testing
  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
}

.content {
  background-color: transparent;
}

.sidebar {
  background-color: transparent;
}

.hotel-view {
  background-color: transparent;
}
