.container {
  max-width: 120rem; // The main container will only ever be 120rem, but can shrink if there isn't space (to 100% of the available space)
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  //testing
  min-height: 50rem;
}

.header {
  // Inherits
  font-size: 1.4rem;

  // Base styles
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  // Flex
  display: flex; // This will automatically set all the header children side by side
  justify-content: space-between; // Maximize the space between each item
  align-items: center;
}

.content {
  display: flex; // This is now a flex container
} // Children: .sidebar, .hotel-view

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; // Do not want it to grow OR shrink, but we want it always to stay 18% of the container width (because of %, it will shrink regardless)

  display: flex;
  flex-direction: column; // Because the sidebar should be a column rather than the default row
  justify-content: space-between; // So the legal text is pushed to the bottom
}

.main-view {
  background-color: #fff;
  height: 80rem; //testing

  flex: 1; // Allow the element to grow as much as it can, basically the rest of the space not taken up by other elements basis so 82% (sidebar takes 18% above)
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HOTEL VIEW CONTENT LAYOUT ///////////////////////////////////////////////////////////////////////////////
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem;

  flex: 0 0 60%; // Usually if the flex basis is a percentage, the grow and shrink will be 0, because if you want a specific size, you dont want it to grow or shrink
}

.user-reviews {
  background-color: yellowgreen;

  flex: 1; // Grow
}
