/* General layout for the table container */
.tour-table {
  color: black;
  width: 80%;
  margin: 4rem auto;
  --color-blue-light: #daf2f5;
  --color-green-light: #beefdf;
}

.editable-table {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
}

.editable-table__cell {
  font-size: 1rem;
  color: inherit;
  text-align: inherit;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%; // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;

  outline: none;

  transition: all 0.1s;
  border: solid 1px black;

  &--header {
    border: none;
  }

  &--blue {
    background-color: var(--color-blue-light);
  }

  &:focus {
    border: dotted 1px black;
    color: gray;
  }

  &:focus::placeholder {
    transition: all 0.1s;
    color: white;
  }
}

.editable-table__add-button {
  width: 100%;
  border: solid 1px black;
  font-size: inherit;
  padding: 0.8em 1.2em;

  background-color: var(--color-blue-light);
}

.editable-table__del-cell {
  display: inline-block;
  border: solid 1px black;
  background-color: #fff;

  flex: 1 0 3%; // So the button will always have the same space on all column types

  &--header {
    border: none;
  }
}

.editable-table--2cols > .editable-table__cell {
  width: 42.5%;
}
.editable-table--3cols > .editable-table__cell {
  width: 28.333333%;
}
.editable-table--4cols > .editable-table__cell {
  width: 21.25%;
}
.editable-table--5cols > .editable-table__cell {
  width: 17%;
}
.editable-table--6cols > .editable-table__cell {
  width: 16.6%;
}

.editable-table--5cols > .editable-table__cell:nth-child(12n + 7),
.editable-table--5cols > .editable-table__del-cell:nth-child(12n + 7),
.editable-table--5cols > .editable-table__cell:nth-child(12n + 8),
.editable-table--5cols > .editable-table__del-cell:nth-child(12n + 8),
.editable-table--5cols > .editable-table__cell:nth-child(12n + 9),
.editable-table--5cols > .editable-table__del-cell:nth-child(12n + 9),
.editable-table--5cols > .editable-table__cell:nth-child(12n + 10),
.editable-table--5cols > .editable-table__del-cell:nth-child(12n + 10),
.editable-table--5cols > .editable-table__cell:nth-child(12n + 11),
.editable-table--5cols > .editable-table__del-cell:nth-child(12n + 11),
.editable-table--5cols > .editable-table__cell:nth-child(12n + 12),
.editable-table--5cols > .editable-table__del-cell:nth-child(12n + 12) {
  background-color: var(--color-blue-light);
}
