/* General layout for the table container */
.tour-table {
  width: 80%;
  margin: 4rem auto;
}

.editable-table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
}

.editable-table__cell {
  font-size: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%; // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid 1px black;
  background-color: powderblue;
}

.editable-table__add-button {
  width: 100%;
}

.editable-table__del-button {
  position: absolute;
  right: 0;
  top: 0;
}

.editable-table--2cols > .editable-table__cell {
  width: 50%;
}
.editable-table--3cols > .editable-table__cell {
  width: 33.33%;
}
.editable-table--4cols > .editable-table__cell {
  width: 25%;
}
.editable-table--5cols > .editable-table__cell {
  width: 20%;
}
.editable-table--6cols > .editable-table__cell {
  width: 16.6%;
}
