:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-2); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

::selection {
  color: var(--color-grey-light-1);
  background-color: var(--color-primary); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-view {
  background-color: #fff;
  flex: 1; }

.detail {
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem;
  flex: 0 0 60%; }

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  /*   align-items: center; */
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    padding: 0.7rem 2rem;
    margin-right: -3.5rem;
    transition: all 0.2s;
    width: 90%; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__button {
    border: none;
    background-color: transparent; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    position: absolute;
    top: 1.5rem;
    right: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user-box {
    background-color: transparent; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-nav__item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: var(--color-primary);
      transition: transform 0.2s, width 0.45s cubic-bezier(1, -0.02, 0, 1);
      width: 3px;
      transform: scaleY(0); }
    .side-nav__item:hover::before {
      transform: scaleY(1);
      width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal-text {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  border-bottom: var(--line);
  display: flex;
  align-items: center; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
    .overview__icon-star--grey, .overview__icon-location--grey {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-grey-dark-2); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__icon-location {
    margin-right: 0.5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300; }
  .overview__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: -5px; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline span {
    transition: margin-left 0.4s;
    margin-left: 3px; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none; }
  .btn-inline:active {
    transform: scale(0.97); }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 1rem; }
    .list__item::before {
      content: '';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;
      background-color: var(--color-primary);
      mask-image: url("../images/chevron-thin-right.svg");
      mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    background-color: transparent; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.3rem solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .review__text {
    margin-bottom: 2rem;
    z-index: 100;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%; }
  .review__user-box {
    margin: 0 auto 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    font-size: 2rem;
    color: var(--color-primary);
    /* FONT WEIGHT? */ }
  .review::before {
    content: '\201c';
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 10; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to bottom, var(--color-primary-light, var(--color-primary-dark)));
  position: relative; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    padding: 2rem 7.5rem; }
